{% extends 'base.html.twig' %}

{% block title %}oups Erreur |
	{{parent()}}
{% endblock %}

{% block body %}

<div class="container text-center">
    <div class="row mt-5">
        <div class="col-6 m-auto shadow p-5">
            <h1 class='text-danger'>Erreur 404</h1>
            <p class='fw-bold'>La page que vous cherchez n'existe pas</p>
            <a href="{{path('app_home')}}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
</div>

{% endblock %}
